$redColor: #eb5757;

.mylist-list {
  padding-top: 50px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  width: 100%;
  .mylist-img {
    img {
      width: 346px;
      height: 220px;
    }
  }
  .mylist-detail {
    display: flex;
    align-items: center;
    width: 100%;
    .mylist-info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h2 {
        margin-top: -20px;
        font-weight: 700;
        font-size: 42px;
      }
      ul {
        display: flex;
        gap: 15px;
        color: grey;
        li {
          font-weight: 500;
          font-size: 14px;
          list-style: none;
        }
      }
      p {
        font-weight: 500;
        font-size: 16px;
      }
    }
    .mylist-rating {
      display: flex;
      gap: 40px;
    }
  }
}
